@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Roboto:wght@400;700&display=swap');

@font-face {
  font-family: BatmanForeverAlternate;
  src: url(./fonts/BatmanForeverAlternate.ttf);
}

@font-face {
  font-family: adineue PRO;
  src: url(./fonts/adineue\ PRO.ttf);
}

@font-face {
  font-family: adineue PRO Bold;
  src: url(./fonts/adineue\ PRO\ Bold.ttf);
}
body{
    text-align: center;
    padding-top: 10%;
}

section{
    justify-content: center;
    display: flex;

}
h2{
    font-family: 'BatmanForeverAlternate';
    font-size: 55px;
    color:#2E0F46;
    font-weight: lighter;
}
h3 a{
    font-family: 'adineue PRO';
    text-decoration: none;
    font-weight: lighter;
    font-size: 25px;
    color: #2E0F46;

}
h3{    
    text-align: right;
    padding-right: 10px;

}

.button{
    cursor: pointer;
    font-family: 'BatmanForeverAlternate';
    background-color: #2E0F46;
    border: none;
    color: white;
    text-decoration: none;
    text-align: left;
    padding: 15px 15px 15px 15px;
    margin-bottom: 10%;
    margin-top: 20px;
  }
.button img{
    padding-left: 90px;
    max-width: 28px;
    max-height: 28px;
}

